<table class="db-table" summary="Database list" width="100%">
    <tbody>
        <tr bgcolor="#007700">
            <th width="3%">&nbsp;</th>
            <th width="47%">データベース名&nbsp;[提供元]</th>
            <th width="7%">利用<br>エリア</th>
            <th width="3%">リモ<br>ート</th>
            <th width="8%">同時<br>接続</th>
            <th width="11%" align="center">分野</th>
            <th width="20%"><span style="font-size:10px; line-height:1.2em;">ガイド<br>[ガイドシート]</span></th>
        </tr>

        $rows

    </tbody>
</table>
