<!DOCTYPE html>
<html><head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, user-scalable=yes">
	<meta name="description" content="国立大学法人名古屋大学附属図書館の公式ホームページです。">
	<meta name="keywords" content="名古屋大学,論文,附属,図書館,ラーニングコモンズ,LC">
	<title>名古屋大学附属図書館・データベース案内</title>
	 <script type="text/javascript" src="../../js/jquery-3.6.0.min.js"></script><script type="text/javascript" src="chrome-extension://mdnleldcmiljblolnjhpnblkcekpdkpa/libs/customElements.js" class="__REQUESTLY__SCRIPT"></script>
	 <script type="text/javascript" src="../../js/jquery.page-scroller-308.js"></script>
	 <script type="text/javascript" src="../../js/outside.js"></script>
	<!--[if lt IE 9]>
	<script src="../js/html5.js"></script>
	<script src="../js/css3-mediaqueries.js"></script>
	<script src="../js/jquery.ie-select-width.js"></script>
	<![endif]-->
	<link href="../css/mov.css" rel="stylesheet" type="text/css" media="only screen and (max-device-width:480px)">
	<link href="../css/main.css" rel="stylesheet" type="text/css" media="screen and (min-device-width:481px)">
	<!--[if lt IE 9]>
	<link href="../css/main.css" rel="stylesheet" type="text/css" media="all" />
	<![endif]-->
	<script>virtualTop  = 0;</script>
	</head>
	
	<body>
	<div id="wrapper">
	<header id="header" class="cf">
	<div class="head-corner"><img src="../common-images/head-corner.jpg" alt="図書館外観" width="210" height="108"></div>
	<div class="head-logo"><h1><span>名古屋大学附属図書館</span></h1></div>
	<nav class="head-lang">
		<ul>
			<li id="head-japanese-av"><a href="#"><em>日本語</em></a></li>
			<li id="head-english"><a href="index_e.html"><em>English</em></a></li>
		</ul>
	</nav>
	<form name="s" id="searchform" method="get" action="https://www.google.co.jp/search">
	<input name="as_sitesearch" value="nul.nagoya-u.ac.jp" type="hidden">
	<input name="ie" value="utf-8" type="hidden">
	<input name="q" id="keywords" maxlength="255" type="text">
	<input type="image" src="../../common-images/btn.png" alt="サイト検索" name="searchBtn" id="searchBtn">
	
	</form>
	</header>
	
	
	<div id="content-wrap" class="cf">
	<!--左エリア -->
	<section id="left-unit">
	<div id="button" class="menu-tab"></div>
	<div id="links">
	<nav class="nav">
		<ul>
			<li id="nav1"><a href="../../index.html"><span>HOME</span></a></li>
			<li id="nav2"><a href="../../ir/index.html"><span>資料を探す</span></a></li>
			<li id="nav3"><a href="../../support/index.html"><span>探し方サポート</span></a></li>
			<li id="nav4"><a href="../../guide/index.html"><span>図書館案内</span></a></li>
		</ul>
	</nav>
	</div>
	<article class="quick">
	
	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	
	
	
	<div class="quick-title"><h3><span>クイックリンク</span></h3></div>
		<form name="form" target="_blank" id="form">
	<div class="selectbox">
		<select name="fixed-select-css" id="fixed-select-css" onchange="location.href=this.options[this.selectedIndex].value">
			<option selected="" value="">図書・雑誌を探す</option>
				<option value="https://opac.nul.nagoya-u.ac.jp/">名大蔵書検索OPAC</option>
				<option value="https://sfx9.usaco.co.jp/nagoya/az/?lang=jp">電子ジャーナル</option>
				<option value="https://ci.nii.ac.jp/books/">CiNii Books</option>
				<!--option value="http://webcatplus.nii.ac.jp/">Webcat-Plus</option-->
				<option value="https://ndlsearch.ndl.go.jp/">国立国会図書館サーチ</option>
				<option value="https://www.aichi-pref-library.jp/?page_id=72">愛蔵くん</option>
				<option value="https://calil.jp/">カーリル</option>
				<option value="/ir/index.html#other">国内図書館検索</option>
				<option value="https://www.bl.uk/">British Library</option>
				<option value="https://www.worldcat.org/ja">WorldCat</option>
				<option value="/ir/index.html#other">海外図書館検索</option>
				<option value="https://www.nul.nagoya-u.ac.jp/db/gakui/index.html">博士学位論文</option>
				<option value="/db/newspaper/">所蔵新聞</option>
				<option value="https://www.nul.nagoya-u.ac.jp/wakan/index.html">古典籍内容記述的DB</option>
				<option value="/db/ebook/ebook.html">電子書籍</option>
		</select>
	</div>
	<div class="selectbox">
		<select name="fixed-select-css2" id="fixed-select-css2" onchange="location.href=this.options[this.selectedIndex].value">
			<option selected="" value="">論文・記事を探す</option>
				<option value="https://cir.nii.ac.jp/?lang=ja">CiNii Research（国内論文）</option>
				<option value="https://www.webofscience.com/WOS">Web of Science</option>
				<option value="https://search.ebscohost.com/login.aspx?profile=ehost&amp;lang=ja">EBSCOhost</option>
				<option value="https://japanknowledge.com/library/">JapanKnowledge Lib</option>
				<option value="/db/index.html#sinbun">新聞記事</option>
				<option value="/db/index.html#ziten">辞書・事典</option>
				<option value="/db/index.html">データベース・分野別</option>
				<option value="/db/db_abc.html">データベース・ABC順</option>
				<option value="https://sfx9.usaco.co.jp/nagoya/az/?lang=jp">電子ジャーナル</option>
		</select>
	</div>
	<div class="selectbox">
		<select name="fixed-select-css3" id="fixed-select-css3" onchange="location.href=this.options[this.selectedIndex].value">
			<option selected="" value="">学内各館サイト</option>
				<option value="/central/index.html">中央図書館</option>
				<option value="https://www.med.nagoya-u.ac.jp/medlib/index.html">医学部分館</option>
				<option value="/itan/index.html">保健学図書室</option>
				<option value="/let/index.html">文学図書室</option>
				<option value="/edu/index.html">教育発達科学図書室</option>
				<option value="/law/index.html">法学図書室</option>
				<option value="/eco/index.html">経済学図書室</option>
				<option value="/erc/index.html">国際経済政策研究センター</option>
				<option value="https://www.human.nagoya-u.ac.jp/~tosyok/index.html">情報・言語合同図書室</option>
				<option value="/sci/index.html">理学図書室</option>
				<option value="https://lib.engg.nagoya-u.ac.jp">工学図書室</option>
				<option value="https://www.agr.nagoya-u.ac.jp/~library/indexj.html">生命農学図書室</option>
				<option value="https://www.gsid.nagoya-u.ac.jp/service/library/index.html">国際開発図書室</option>
				<option value="/isee/index.html">宇宙地球環境研究所図書室</option>
				<option value="/imass/index.html">未来材料・システム研究所</option>
				<option value="https://icts.nagoya-u.ac.jp/ja/center/service/library.html">情報基盤センター図書室</option>
				<option value="http://www.grl.kyodo-sankaku.provost.nagoya-u.ac.jp/">ジェンダー・リサーチ・ライブラリ</option>
		</select>
	</div>
		</form>
	
	</article>
	
	
	<article class="banner">
	
	
	<meta charset="utf-8">
	
	
	<a href="/guide/webrequest/web_request.html" target="_blank">
	<img src="/banner-images/banner1.gif" width="190" height="45" alt="取り寄せ・予約・購入・申し込む"></a>
	<a href="https://opac.nul.nagoya-u.ac.jp/?action=pages_view_main&amp;active_action=v3search_view_main_newlst&amp;block_id=296" target="_blank">
	<img src="/banner-images/banner2.gif" alt="新着図書" width="190" height="45"></a>
	<a href="https://lc.nul.nagoya-u.ac.jp/" target="_blank">
	<img src="/banner-images/banner3.gif" width="190" height="74" alt="ラーニング・コモンズ"></a>
	<a href="https://www.nul.nagoya-u.ac.jp/oap/os/index.html" target="_blank">
	<img src="/banner-images/banner6.png" width="190" height="45" alt="オープンアクセスポリシー"></a>
	<a href="https://nagoya.repo.nii.ac.jp" target="_blank">
	<img src="/banner-images/banner4.gif" width="190" height="45" alt="Nagoya Repository"></a>
	<!--a href="https://libdb.nul.nagoya-u.ac.jp/infolib/meta_pub/G0000011Takagi" target="_blank">
	<img src="/banner-images/banner7.jpg" width="190" height="45" alt="髙木家文書" /></a-->
	<a href="https://www.nul.nagoya-u.ac.jp/guide/collection/takagike/index.html" target="_blank">
	<img src="/banner-images/takagi_b_jp.jpg" width="190" height="45" alt="髙木家文書"></a>
	<a href="https://libdb.nul.nagoya-u.ac.jp/infolib/meta_pub/G0000009itou" target="_blank">
	<img src="/banner-images/banner8.png" width="190" height="45" alt="伊藤圭介文庫"></a>
	<a href="https://libdb.nul.nagoya-u.ac.jp/infolib/meta_pub/G0000012sktn" target="_blank">
	<img src="/banner-images/banner9.jpg" width="190" height="45" alt="西洋古典籍"></a>
	<a href="https://www.nul.nagoya-u.ac.jp/kikin/index.html" target="_blank">
	<img src="/banner-images/banner_kikin_jp.jpg" border="0" width="190" height="45" alt="名古屋大学附属図書館支援事業"></a>
	<a href="https://www.nul.nagoya-u.ac.jp/kikin/shienirai.html" target="_blank">
	<img src="/banner-images/shien.gif" border="0" width="190" height="45" alt="ご支援のお願い"></a>
	<!--a href="https://www.nul.nagoya-u.ac.jp/event/index.html#vr" target="_blank">
	<img src="/banner-images/OKBvr.jpg" border="0" width="190" height="45"  alt="OKB高木家文書資料館VR展示" /></a-->
	<!--<a href="https://www.nul.nagoya-u.ac.jp/guide/calil/index.html" target="_blank">
	<img src="/banner-images/calillibrarymap.png" width="190" height="70" alt="カーリル図書館マップ" /></a>-->
	<!--<img src="/banner-images/qr.gif" width="78" height="66" alt="QRコード" />
	<div class="mobile-title"><h3><span>附属図書館モバイルサイト</span></h3></div>
	<p class="mobile-url">https://www.nul.nagoya-u.ac.jp/i/ </p>-->
	
	
	</article>
	
	</section>
	<!--左エリア了 -->
	
	<!--コンテンツエリア -->
	<section id="content">
	<nav class="trace"><a href="https://www.nul.nagoya-u.ac.jp/index.html">TOP</a> &gt; データベース案内</nav>
	<div class="titlecase">
		<h2 class="h2-db">データベース案内</h2>
	<!--div class="detail-but"><a href="http://info.nul.nagoya-u.ac.jp/news/news/view?set_language=ja"><span>詳しく見る</span></a></div-->
	</div>
	
	<article class="content-box">
	<div class="plain">
		<div class="kome">
			<script>document.write（"last update:"+ document.lastModified);</script>
		</div>
		<strong>データベース関連のお知らせ</strong>
			<div style="padding:5px; background-color:#FCF2EF; border:#ccc 1px dotted; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; ">
				<b><span class="note">【公正利用のお願い】</span>
					「<a href="../ej/ej_atten.html">公正利用の注意</a>」を遵守してください。</b>
					<ul><li>意図しないまま個人利用の範囲を超える大量ダウンロードとみなされ、<u>アクセス停止される事例</u>が発生しています。<br>
							例：プログラムによる自動データ収集利用、ブラウザの先読み機能、手動での連続的ダウンロード等</li>
						<li>海賊版サイト（Sci-Hubなど）からのダウンロードは、著作権法違反に当たります。</li>
					</ul>
			</div>
	<p>&nbsp;</p>
			<div style="padding:5px; background-color:#FCF2EF; border:#ccc 1px dotted; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px;">
				<b><span class="note">【情報連携推進本部「VPNサービス」に接続中の皆様へ】</span></b><br>
					学外からデータベースをご利用される際は、これまで同様 <a href="DBannai/ezproxy/index.html">学外からの電子リソース利用</a> ページからアクセスくださいますようお願いいたします。
			</div>
	<p>&nbsp;</p>
	
		<h4>新着情報・障害情報・メンテナンス情報&nbsp;(データベース関連分)
		</h4>
		<!--iframe width="100%" height="100" frameborder="1" allowtransparency="true" src="https://lws.nul.nagoya-u.ac.jp/rsspage/db-n_ja.php"></iframe-->
		<iframe width="100%" height="100" frameborder="1" allowtransparency="true" src="https://lws.nul.nagoya-u.ac.jp/rsspage/news.php?directory=ja/db-n/RSS"></iframe>
		<br>
		<!--a href="https://lws.nul.nagoya-u.ac.jp/news/news/view?set_language=ja" class="link-mark">NUL News&nbsp;(図書館のお知らせ)</a-->
		<a href="https://lws.nul.nagoya-u.ac.jp/news/ja/" class="link-mark">NUL News&nbsp;(図書館のお知らせ)</a>
	
	<!--h4 id="trial">トライアル中のデータベース</h4-->
		<!--table width="100%" class="db-table" summary="トライアル中のデータベース">
			<tr>
				<th align="center" width="70%">データベース名</th>
				<th width="30%">トライアル期間</th>
			</tr-->
			<!--tr class="line-green">
				<td><a href="https://www.nul.nagoya-u.ac.jp/db/index.html#sinbun">聞蔵(きくぞう)II ビジュアル</a><br>
					<p style="padding-left:1em">現在も利用できるデータベースですが、以下も利用できるようになります。
						<ul>
							<li>朝日新聞縮刷版「全国の地域面」；朝日新聞社が保存している発行当時の全国の地域面をデジタル化（紙面イメージPDF）したもの。</li>
							<li>朝日新聞縮刷版「戦前の外地版」；朝日新聞社が1935年～1945年に台湾、朝鮮、中国、旧満州（中国東北部）の読者向けに発行していた「外地版」をデジタル化（紙面イメージPDF）したもの。</li>
						</ul>
						[<a href="https://lws.nul.nagoya-u.ac.jp/news/ja/denshi/2020/201111-3">ご案内</a>] </p></td>
				<td align="center">2020年12月1日～2021年1月31日</td>
			</tr-->
			<!--tr class="line-green">
				<td><a href="https://video.alexanderstreet.com/channel/academic-video-online">Academic Video Online</a>&nbsp;（ProQuest)<br>
					<p style="padding-left:1em">学術研究や授業で活用できるストリーミングビデオを約68,000件収録する分野横断データベース<br>
						※アクセス範囲：学内LAN（鶴舞、大幸を含む）<br>
						[<a href="https://www.kinokuniya.co.jp/03f/denhan/alexander/prod/avon.htm">参考</a>（紀伊國屋書店）] </p></td>
				<td align="center">～2020年11月15日</td>
			</tr-->
			<!--tr class="line-green">
				<td><a href="http://libd.ruralnet.or.jp/">ルーラル電子図書館</a>&nbsp;<br>
					食と農の専門出版社　農文協が運営する「食」・「農」・「地域」をテーマにしたデータベースです。<br>
					学内LANに接続したパソコン等から接続できます。<br>
					※名古屋大学構成員限定、同時アクセス数50、リモートアクセス可、印刷は個人のための1部のみ。<br>
					[<a href="image/ruralnet_trial.pdf">詳細（PDF）</a>]</td>
				<td align="center">2019年12月1日～2020年1月31日</td>
			</tr-->
			<!--tr class="line-green">
				<td><a href="https://database.asahi.com/library2s/">聞蔵Ⅱスマホ版</a>&nbsp;<br>
					朝日新聞オンライン記事データベース「聞蔵（きくぞう)II ビジュアル」のスマートフォン版です。<br>
					※同時アクセス数10、リモートアクセス可、スマートフォンもしくはタブレット端末からのみアクセスできます。<br>
					[<a href="image/kikuzo_tukaikata.pdf">使い方（PDF）</a>]</td>
				<td align="center">2017年10月1日～2017年11月30日</td>
			</tr-->
			<!--tr class="line-green">
				<td><a href="http://www.oxfordscholarship.com/">Oxford Scholarship Online （ OSO ) </a><br>
					人文社会科学系から医科学系まで全20分野を網羅したOxford University Pressのebook約14,000タイトルが利用可能です</td>
				<td align="center">2017年10月10日～2017年12月31日<br></td>
			</tr-->
		<!--/table-->
	
	<hr>
	
	<h4>データベース分野別リスト</h4>
					<p><a href="db_abc.html" class="link-mark">ABC順リスト </a>&nbsp;&nbsp;<a href="db_details.html" class="link-mark">各データベースの詳細&nbsp;(詳細がないデータベースもあります)</a></p>
					<div style="margin:10px 0;">
						<span class="bullet3">▼</span><a href="#sougou">総合分野</a>　<span class="bullet3">▼</span><a href="#rikou">自然科学・生命科学・技術・工学</a>　<span class="bullet3">▼</span><a href="#zinbun">人文科学</a>　<span class="bullet3">▼</span><a href="#shakai">社会科学</a>　<span class="bullet3">▼</span><a href="#gakui">学位論文</a>　<span class="bullet3">▼</span><a href="#sinbun">新聞</a>　<span class="bullet3">&nbsp;▼</span><a href="#ziten">辞書・事典・電子書籍</a><br>
						<span class="bullet3">▼</span><a href="#nenkan">年鑑・統計・白書</a>　<span class="bullet3">▼</span><a href="#ej">電子ジャーナル</a>　<span class="bullet3">▼</span><a href="#jinbutu">人物情報</a>　<span class="bullet3">▼</span><a href="#shozo">所蔵</a> 
	　<span class="bullet3">▼</span><a href="#shuppan">出版・図書内容情報</a>　<span class="bullet3">▼</span><a href="#trend">研究動向</a>　<span class="bullet3">▼</span><a href="#reference">文献管理ツール</a>
					</div>
					<p>名古屋大学で、現在オンラインで利用できるデータベースをリストにしています。
						CD-ROMで利用するデータベースは <a href="../central/reference_db.html">情報検索コーナーページ</a> をご覧ください。</p>
					<p>データベースの検索結果から本文を入手するには、<a href="../guide/nulink/index.html"><img src="../guide/nulink/nulink100x25.jpg" alt="NULINK icon" height="25" width="100">(NULINK)</a> をご利用ください。</p>
	
	<p>&nbsp;</p>
	
					<table width="100%" border="0" cellpadding="0" summary="リストの見方・簡略版">
						<tbody><tr><td width="10%" bgcolor="#DFEED5"></td>
							<td width="70%">：学内でのみ利用可能<br>
								<a href="/db/DBannai/ezproxy/index.html"><img src="image/remote.gif" alt="R" class="v-center" width="30" height="15" border="0"></a>＝リモートアクセス可能
									<!--（<a href="https://icts.nagoya-u.ac.jp/ja/services/nuid/CAS/index.html">多要素認証</a>：2022年3月16日～）--></td>
							<td rowspan="3" valign="middle">⇒<a href="#list_mikata">リストの見方<br>
									</a><p style="padding-left:1em"><a href="#list_mikata">(詳細)</a></p></td></tr>
						<tr><td bgcolor="#F7F1CC"></td>
							<td>：検索は学外から可能、本文を見るのは学内に限る</td>
							<td></td></tr>
						<tr><td bgcolor="#F3E2E2">&nbsp;</td>
							<td>：どこからでもアクセス可能</td>
							<td></td></tr>
					</tbody></table>
	
	<p>&nbsp;</p>
	
	$tables

	<hr>
	<h3 id="list_mikata">【リストの見方】</h3>
	
					<table class="db-table" summary="リストの見方" width="100%">
						<tbody>
			<tr><td colspan="2"><b>データベース名</b></td>
						<td>タイトルをクリックしてログイン</td></tr>
			<tr><td rowspan="6" width="20%"><b>利用エリア</b></td>
					<td width="20%" bgcolor="#EDF5E7"> </td>
						<td width="55%">名古屋大学で契約しているデータベース<br>検索機能も含めて学内でのみ利用可能なもの<br>※本文を含むものと含まないものがあります</td></tr>
			<tr>	<td bgcolor="#F7F1CC"></td>
						<td>名古屋大学で契約しているデータベース<br>検索機能は一般公開されているもの<br>※本文閲覧は学内に限ります</td></tr>
			<tr>	<td bgcolor="#F3E2E2">　　公開</td>
						<td>一般に公開されているもので、どこからでもアクセス可能</td></tr>
			<tr>	<td>　　学内</td>
						<td>名古屋大学の学内LANに接続したパソコンから利用可能</td></tr>
			<tr>	<td>　　キャンパス名</td>
						<td>指定のキャンパス内で利用可能</td></tr>
			<tr>	<td>　　図書室名</td>
						<td>指定の図書室のみで利用可能</td></tr>
			<tr><td rowspan="2"><b>リモート</b></td>
					<td><img src="image/remote.gif" alt="R" border="0"></td>
						<td>名古屋大学の教職員・大学院生・学部生・研究者の方に限り、学外からリモートアクセス可能&nbsp;⇒&nbsp;<a href="DBannai/ezproxy/index.html">詳細</a></td></tr>
			<tr>	<td>空白</td>
						<td>リモートアクセス不可</td></tr>
			<tr><td rowspan="2"><b>同時接続</b></td>
					<td>数字</td>
						<td>同時アクセス可能人数<br><span class="note">必ずLOGOUT、LOGOFF、ログアウトなどのボタンをクリックして終了してください</span></td></tr>
			<tr>	<td>空白</td>
						<td>同時アクセス数 制限なし</td></tr>
			<tr><td rowspan="2"><b>ガイド<br>[ガイドシート]</b></td>
					<td>[詳細]・利用案内<br>利用規定　等</td>
						<td>利用案内・利用規定等へリンク</td></tr>
			<tr>	<td>[ガイドシート]</td>
						<td>ガイドシート(A4 2枚程度)の&nbsp;<a href="../guide/gsheets/index.html">リスト</a>&nbsp;該当区分へリンク　</td></tr>
					</tbody></table>
	
	</div>
		<p style="text-align:right; margin:10px;"><a href="#top"><img src="../common-images/pagetop.gif" alt="Page TOP" width="73" height="18"></a></p>
	</article>
	</section>
	</div>
	<!--コンテンツ了 -->
	
	<footer id="footer">
		<div class="foot-menubox">
			<nav class="foot-nagoyau">
				<ul>
					<li id="foot-nagoyau"><a href="https://www.nagoya-u.ac.jp/"><em>名古屋大学</em></a></li>
				</ul>
			</nav>	
			<nav class="foot-menu">
				<ul>
					<li id="foot-access"><a href="https://www.nagoya-u.ac.jp/contact/directions.html"><em>交通アクセス</em></a></li>
					<li id="foot-rec"><a href="../job/index.html"><em>採用情報</em></a></li>
					<li id="foot-about"><a href="../inq/copyright.html"><em>このサイトについて</em></a></li>
					<li id="foot-inq"><a href="../inq/inquiry.html"><em>お問い合わせ</em></a></li>
				</ul>
			</nav>
		</div>
	<div class="copyright">© 名古屋大学附属図書館 Copyright © Nagoya University Library 2011</div>
	</footer>
	</div>
	
	
	</body></html>